/*-----------------------*\
        VARIABLES
\*---------------------- */

/*---- Breaking Points ----*/

$x-small: 376px;
$small: 430px;
$medium: 768px;
$normal: 1200px;
$large: 1600px;

/*--- basic colors ---*/
$color-text-main: hsl(0, 0%, 0%);

/*--- Project colors ---*/
$color-primary: hsl(0,58%,56%);
$color-option-one: hsl(216, 92%, 58%);
$color-option-two: hsl(152, 60%, 63%);
$color-option-three: hsl(6, 81%, 63%);

/*--- Customized colors ---*/

$color-medium-grey: hsl(0, 0%, 91%);
$color-dark-grey: hsl(0, 7%, 76%);



